.resent-container {
    width: 720px;
    height: 572px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #ebeeff;
    margin-top: 20px;
    margin-left: 15px;
  }
  .resent-heading {
    color: #2d3149;
    font-family: Open Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-left: 30px;
    padding-top: 10px;
  }
  .card-container {
    width: 650px;
    height: 450px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #fff;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
  }
  .items-container {
    width: 600px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #ebeeff;
    margin-top: 30px;
    margin-left: 20px;
    display: flex;
  }
  .names {
    color: #2d3149;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-left: 60px;
  }
  .items-container-1 {
    width: 600px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #f1e5ff;
    margin-top: 30px;
    margin-left: 20px;
    display: flex;
  }
  .file {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    color: rgba(55, 73, 87, 1);
    margin-top: 30px;
    padding-left: 60px;
  }
  .pdf {
    color: #000;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 20px;
  }
  .date {
    color: #000;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 60px;
    padding-top: 20px;
  }
  .name {
    color: #000;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 30px;
    padding-top: 20px;
  }
  .buttons {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #fff;
    border: none;
    margin-top: 20px;
    margin-left: 20px;
  }
  .load {
    display: flex;
    width: 16px;
    height: 16px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: rgba(58, 222, 126, 1);
  }
  .button-3 {
    width: 108px;
    height: 41px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #fff;
    border: none;
    margin-top: 20px;
    margin-left: 5px;
    color: #d12d2d;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 8px;
  }
  .delete {
    display: flex;
    width: 16px;
    height: 16px;
    padding: 0px 0.667px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: rgba(209, 45, 45, 1);
    padding: 2px;
  }
  .button-4 {
    width: 108px;
    height: 41px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #fff;
    border: none;
    margin-top: 20px;
    margin-left: 5px;
    color: #3ade7e;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 8px;
  }
  .slick {
    display: flex;
    width: 30px;
    height: 30px;
    padding: 7px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: #fff;
    margin-right: 8px;
  }
  .angle {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    color: rgba(40, 65, 205, 1);
  }
  .one {
    display: flex;
    height: 30px;
    width: 30px;
    padding: 4px 9.908px 4px 10.092px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #455de5;
    background: #fff;
    color: #455de5;
    margin-right: 5px;
  }
  .slick-container {
    display: flex;
    margin-left: 300px;
    margin-top: 5px;
  }
  .two {
    display: flex;
    height: 30px;
    width: 30px;
    padding: 4px 9.908px 4px 10.092px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #455de5;
    background: #fff;
    color: #2d3149;
    margin-right: 5px;
  }
  .three {
    display: flex;
    height: 30px;
    width: 30px;
    padding: 4px 9.908px 4px 10.092px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #455de5;
    background: #fff;
    color: #2d3149;
    margin-right: 5px;
  }
  .dots {
    padding-right: 10px;
  }